extends layout

block canonical
    link(rel="canonical", href=url + "/faq")

block content
    div.middle-content
        div.rules
            h2 Rules

            h3 Do not Advertise
            ul
                li on other Discord servers (without staff permission)
                li on other RSC-based private game servers or websites
                li Mass DM/PM is considered advertising
            h3 No RWT
            ul
                li Real World Trading (RWT)
                li Anything outside of the Open RSC games is considered RWT
                li No scamming
            h3 Be respectful and civil
            ul
                li Language is flexible to a certain extent
                li Do not be rude and disrespectful
                li Be polite to all staff members
                li No posting illegal, NSFW, nor NSFL content
                li No heated discussions such as politics, religion, race, orientation
                li No impersonating staff members
                li Do not abuse tagging/mentions on Discord
                li Do not encourage rule breaking
                li No hosting “games of chance” (gambling)
                li Stay on topic in our Discord channels
            h3 No botting
            ul
                li Do not place bots, autos, nor macros inside our games
                li Do not exploit bugs

        div.faq
            h2 Frequently Asked Questions


            dl
                dt What is Open RSC?
                dd The project was officially begun in June 2018,
                    | though has roots spanning as far back as 2009
                    | with Open RSCD v25. The Open RSC project has
                    | been a non-profit, community driven, open source
                    | initiative to build as close of a replica RSC game
                    | experience as possible, to allow custom features
                    | to be enabled with simple configuration file edits,
                    | and to keep the memory alive of what is now
                    | considered to be an abandonware game,RuneScape
                    | Classic (2001-2018). For over a decade, many private
                    | servers have come and gone and nearly all have had
                    | profit from donations, subscriptions, microtransactions,
                    | and bribery as their sole interest. Education,
                    | open source, and information sharing were spurned in
                    | the interest of "leech proofing" code, money grabs,
                    | toxic individuals, DDoS attacks, and deception.
                    | The Open RSC core team consists of real life
                    | professional developers, security consultants,
                    | dev ops managers, and more.
                dt Can I donate or subscribe for perks?
                dd No donations or subscriptions are accepted.
                    | We don't want any money. We also don't believe
                    | that dumping player money into ads will make any
                    | difference for long term player growth and retention.
                    | The best way to help the team is to help with
                    | submitting bug reports, fixing bugs, and spreading
                    | the word to your friends about us so they will want
                    | to come be a part of this too!
                dt How often is Open RSC updated?
                dd Updates are added multiple times per week. Most are
                    | installed during the midnight automatic server restart
                    | interval.
                dt Is this a replica? What is the experience rate?
                dd Open RSC is an open source game engine framework that
                    | lets you configure the features you want for any sort
                    | of play style want. Included in the source code are
                    | several preset server configurations that we are using
                    | for publicly hosted game servers that are free for anyone
                    | to play on.
                    dl
                        dt Open RSC
                        dd 1x XP with limited QoL features (quick banking,
                            | bank notes, deposit certs to bank)
                        dt RSC Cabbage
                        dd 5x XP, 30% faster game speed, and all custom
                            | features enabled (auction house, pets, clans,
                            | custom sprites, batched skilling, no fatigue, etc)
                        dt RSC Preservation
                        dd ~98% replica of RuneScape Classic
                        dt Open PK
                        dd Stork PK point system, dedicated to PKing
                        dt Wolf Kingdom
                        dd A not yet started post apocalyptic game that features
                            | a mix of DayZ, WoW, and PlanetSide play styles.
                dt Is a single player version available?
                dd Yes! Visit the GitLab project page for more information.
                dt How do I run my own Open RSC private server?
                dd Follow the guide on GitLab.
                dt Who are the Open RSC project admins?
                dd Luis, Marwolf, and Kenix
                dt What is Open RSC's stance on botting?
                dd We have a zero tolerance policy on our publicly hosted servers.
                dt How can I help?
                dd Join the Discord chat and come talk to us!
                    | Word of mouth recommendations, YouTube videos, and
                    | Twitch streams are welcomed for recruiting more players.
                    | There are many GitLab issue bug reports that need fixes too!
                dt How do I run my own copy?
                dd Visit the Open RSC game repository and follow the instructions.
                    | Open RSC is Windows, Mac, and Linux compatible!
                    | There is an Android client as well, though no way to run
                    | a MySQL server, the game server, and game client at the same
                    | time on Android too allow an Android single player instance
                    | at this time. Feel free to join our Discord if you have
                    | questions.
                dt Any future plans for development?
                dd Achieving near-exact replication of RSC is important but
                    | there are so many new things that can be be added. Many
                    | projects are being worked on at the same time and if you
                    | have a novel idea and the ability to build it, go for it!
                    | Just understand that we have no interest in hearing pitches
                    | for the next million billion dollar game idea. Also, Eevee
                    | is the best Pokemon and cabbage is the best vegetable.